<?xml version="1.0"?>
<model>
  <name>Iris with a slung payload attached</name>
  <version>1.0</version>
  <sdf version='1.0'>iris_load_test.sdf</sdf>
  <author>
   <name>David Felsager</name>
   <email>d.felsager@gmail.com</email>
  </author>
  <description>
    This is a model of the Iris Quadrotor with a slung payload attached.
    The original model has been created by Thomas Gubler and is maintained by Lorenz Meier. The attached payload and rope has been created by David Felsager
  </description>
</model>
